.div_container{
    wigth:10%;
    /*  */
    height: 100%;
    background: pink;
    border: 1px;
    margin-left: 5%;
    /* отступ */
    padding-top: 2%;
    /*  */


}

nav{
    background-color: rgb(171, 171, 171);

    
}

.img_apart{
    width: 70%;
    margin-left:15%;
    margin-top: 1%;
}